<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>About us</title>
    <script type="text/javascript" src="/static/js/weibovisualization.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/weibovisualization.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/syntax.css" />
  </head>
  <body>
    <div class="body">
      <div class="content">
          <div class="topbar">
            <a href="/weiming">Home</a>
            <b><a href="about.html">About us</a></b>
          </div>
          <div class="sidebar">
            <h1>Team Intro.</h1>
          </div>
          <h1 id="teammember">Team Member</h1>
          <p><strong>We </strong> are a srtp team of <a href='https://www.buaa.edu.cn'>buaa</a> under the guidance of <a href='http://datamining.buaa.edu.cn'>Dr. Junjie Wu</a></p>
          <div class='gallery'>
              <div class='list'>
                <a href='http://weibo.com/rabbitoflittle'>
                  <img src='/static/images/team/hanyangweibo.jpg' />
                </a>
                <h4><a href='http://weibo.com/rabbitoflittle'>Hanyang</a></h4>
                <p>A crazy programmer.Chief Technology Engineering of our team.Have a good coding habit and cool coding skills.He designs and implements the sina weibo crawler the python language.</p>
              </div>
              <div class='list'>
                <a href='http://weibo.com/linhao199201'>
                  <img src='/static/images/team/linhaoweibo.jpg' />
                </a>
                <h4><a href='http://weibo.com/linhao199201'>Linhao</a></h4>
                <p>A rookie programmer.He designs and implements the UI of web page.</p>
              </div>
              <div class='list'>
                <a href='http://weibo.com/u/1833150170'>
                  <img src='/static/images/team/chenlijun.jpg' />
                </a>
                <h4><a href='http://weibo.com/u/1833150170'>Chenlijun</a></h4>
                <p>A crazy programmer.Have a good coding habit and cool coding skills.He designs and implements the sina weibo Distributed crawler with Hanyang and is expected to contribute much more to our team.</p>
              </div>
              <div class='list'>
                <a href='http://weibo.com/danielshine'>
                  <img src='/static/images/team/songshuyangweibo.jpg' />
                </a>
                <h4><a href='http://weibo.com/danielshine'>Songshuyang</a></h4>
                <p>He have good communication skills and is expected to contribute much more to our team.</p>
              </div>
              <div class='list'>
                <a href='http://weibo.com/u/2015415651'>
                  <img src='/static/images/team/xiezhengweibo.jpg' />
                </a>
                <h4><a href='http://weibo.com/u/2015415651'>Xiezheng</a></h4>
                <p>She have good learning skills and is expected to contribute much more to our team.</p>
              </div>
          </div>
          <br clear="left">
          <h2 id="Technical Method">Technical Method</h2>
          <div class='gallery'>
             <div class='list'>
                <a href='/weiming'>
                  <img src='/static/images/index.jpg' />
                </a>
                <p>
                  <strong>Panoramic Online Microblogging Analysis System for Network Public Opinion Monitoring</strong>: 
                  Online social media like micro-blog provides a large data set for us to play with, there are more than 250 million Chinese Internet users publish tweets through the Sina Weibo (a Twitter-alike website in China) every day and night. In the analysis,we get a large data set with the combination using of sina weibo API and Web crawler written python language.We've been trying to explore the laws of topic communicating and public opinion trend in social network and obtain user's personal interests and emotions by corpus analysis on the key nodes in the topic forwarding path.We visualize the forwarding path of a particular hot topic in the weibo with LBS(Location Based Service)tools like google map.
               </p>
             </div>
           </div>
           <br clear="left">
          <h2 id="thanks">Special thanks to</h2>
          <div class='gallery'>
          <a href='http://gana.nlsde.buaa.edu.cn/hourly_happy/moodlens.html' title='Group of Advanced Network Analysis, State Key laboratory of Software Development Environment'><img src='/static/images/moodlens.jpg' /></a>
          <a href='http://sem.buaa.edu.cn' title='BUAASEM'><img src='/static/images/buaa_sem_Logo.jpg' /></a>
          <a href='http://weibo.com' title='BUAASEM'><img src='/static/images/sina_logo.png' /></a>
          </div>
           <div class="foot">Copyright &copy; 2012 <a href="http://www.buaa.edu.cn/">Buaa</a></div>
       </div>
       
     </div>
  </body>
</html>
