$def with (screen_name, profile_image_url)
$var doctype: DOCTYPE html
$var title: 联系我们
$var username: $screen_name
$var profile_image_url: $profile_image_url
$var cssfiles: 
$var jsfiles:
<h3>团队介绍</h3>
<p>团队成员（按拼音排序）：
  <a href="http://weibo.com/u/1833150170">陈李军</a>(数据处理，前端实现),
  <a href="#">胡玥</a>(话题推荐模块)，
  <a href="http://weibo.com/linhao199201">林浩</a>(框架实现，界面设计)，
  <a href="http://weibo.com/rabbitoflittle">韩洋</a>(数据处理，前端实现)，
  <a href="#">王亚琼</a>(情绪分析模块)，
  <a href="http://weibo.com/u/1877706273">周丹</a>(界面设计，前端实现)。
</p>
<p>指导教师：<a href="http://datamining.buaa.edu.cn">吴俊杰教授</a>,
  <a href="http://ipv6.nlsde.buaa.edu.cn/zhaojichang/">赵吉昌博士</a>。</p>
<h3>技术实现</h3>
<p>本应用采用新浪微博一系列与话题相关的接口，针对新浪微博热门话题榜单上或用户自己输入的感兴趣的话题，对该话题相关的微博进行时空分布分析、情感分析、复杂网络分析</p>
<h3>联系我们</h3>
<p>新浪微博： <a href="http://weibo.com/linhao199201">linhaobuaa</a></p>
<h3>待续工作</h3>
<p>我们拟以地图模式对话题传播、情绪分析等做进一步展示</p>

