
<!DOCTYPE html>
<head>
<title>详细微博信息</title>
 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
 <script type='text/javascript' src='https://www.google.com/jsapi'></script>

 <script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
 <script type='text/javascript' src='/static/mapweibo/js/mvlightview.js'></script>
<style>
  body { font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>

</head>
<body>
  <div id="main">
  </div>
</body>
</html>
