$def with (screen_name, profile_image_url, topic_count_hour,topic_count_day,topic_count_week)
$var doctype: DOCTYPE html
$var username: $screen_name
$var profile_image_url: $profile_image_url
$var title: 我看热话题--热门话题历史记录
$var cssfiles: /static/css/topicAnalysis.css /static/css/topicHistory.css 
$var jsfiles: /static/libraries/jquery.min.js /static/js/tagsuggest.js /static/js/topichistory.js
<div id="div_logo" name="top">
  <div class="juzhong">
    <div class="bubbleInfo">
      <a href="/topicweibo/" class="link"><img src="/static/images/topicWB/logo.png" alt="mapWeibo" id="logo_img" /></a>
      <img id="follow_pic" class="trigger" src="/static/images/topicWB/guanzhu.png"/>
      <div class="popup">
	<p id="information">在新浪微博关注此搜索框内的话题.</p>
      </div>
    </div>
  </div>
</div>
<div id="div_input">
  <div class="juzhong" id="search_background">
    <button id="search_button">分析</button>
    <input id="search_box" onKeyDown="EnterPress()"/>
    <div id="information" ></div>
    <div id="tag"></div>
    <div id="Second">
      <h3 id="Third"><em id="present_time"></em></h3>	
    </div>
  </div>
</div>
<div id="result_body">
  <div id="result">
    <h4>小时榜单</h4>
    <p class="tagcloud" id="hourly">
      $if topic_count_hour != None:
          $for t in topic_count_hour:
              <a href="#"  class='tag$t[1]' onclick=autofulfill('$t[0]')>$t[0]</a>
    </p>
    <h4>日榜单</h4>
    <p class="tagcloud" id="daily">
      $if topic_count_day != None:
          $for t in topic_count_day:
              <a href="#"  class='tag$t[1]' onclick=autofulfill('$t[0]')>$t[0]</a>
    </p>
    <h4>周榜单</h4>
    <p class="tagcloud" id="weekly">
      $if topic_count_week != None:
          $for t in topic_count_week:
              <a href="#"  class='tag$t[1]' onclick=autofulfill('$t[0]')>$t[0]</a>
    </p>
  </div>
</div> 
