<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>mapWeibo</title>
    <link rel="shortcut icon" href="/static/mapweibo/images/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>

    <link rel="stylesheet"  type="text/css" href="/static/mapweibo/css/skins/jqselectable/selectable/style.css">

    <script type="text/javascript" src="/static/mapweibo/js/jquery-ui-1.8.16.custom.min.js"></script>
    <link type="text/css" href="/static/mapweibo/css/blitzer/jquery-ui-1.8.18.custom.css" rel="stylesheet" />

    <script type="text/javascript" src="/static/mapweibo/js/jquery.blockUI.js"></script>
    <script type='text/javascript' src='/static/mapweibo/js/jquery.masonry.min.js'></script>
    <script type="text/javascript" src="/static/mapweibo/js/jquery.jQselectable.js"></script>
    <script type="text/javascript" src="/static/mapweibo/js/jquery.jdpicker.js"></script>
    <script type="text/javascript" src="/static/mapweibo/js/jquery.ez-pinned-footer.js" charset="utf-8"></script>

    <script src="http://code.highcharts.com/stock/highstock.js"></script>
    <script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/mapweibo/js/trendview.js"></script>
    <link type="text/css" href="/static/mapweibo/css/mapview.css" rel="stylesheet" />
    <style>
      #loading {
      position:relative;
      left:450px;
      top:180px;
      }
    </style>

  </head>
  <body>
    <!--导航-->
    <div class="nav-header">
      <div class="topnav">
        <div id="nav-container">
          
          <div id='logo' class='pic'>
            <a href='/mapweibo/'><img src="/static/mapweibo/images/logo.jpg"  alt="MapWeibo" /></a>
          </div>
          
          <div class='nav-collapse'>
            <ul class='nav'>
              <a href="/mapweibo/" id="nav-home">
                <li class='nav-nav' id='home'>主页</li>
              </a>
              <a href="/mapweibo/mapview/" id="nav-mapview">
                <li class='nav-nav' id='mapview'>传播</li>
              </a>
              <a href="/mapweibo/sentimentview/" id="nav-sentimentview">
                <li class='nav-nav' id='sentimentview'>情绪</li>
              </a>
              <!--<a href="/weiming/mapweibo/networkview" id="nav-networkview">
                  <li class='nav-nav' id='networkview'>网络</li>
              </a>-->
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <!--导航结束-->
    <!--main开始-->
    <div id="main">
      <div class="content">
        <h1 id="h-introduction">
          <div id="intro-ques">
            <img src="/static/mapweibo/images/propagation.png" alt="什么是mapWeibo?" />
          </div>
          <div id="intro">
            <p><strong>传播图谱</strong>革新性地将新浪微博平台话题传播路径付诸路线图地图上展示，调用google地图，支持缩放、拖拽，地理层级最小可至区/县级，能够精确呈现微博发布者地理位置。通过点、线显示微博的发布地点与传播路径，可视化微博转发数量、方向，提供转发、原创微博的单独查看，方便用户轻松找到转发量激增点，跟踪突发性事件的传播态势。</p>
          </div>
        </h1>
        <div class="panel-outer">
          <div class="panel-nav">新的分析</div>
          <form id="keywords" class="panel" action="/mapweibo/trendview" autocomplete="off">
            <p>输入<strong>筛选条件</strong>以便开始<strong>新</strong>的分析:</p>
            <div id="s_keyword">
              <strong>关键词:</strong><input type="text" name="topic" id="topic_input" placeholder="请输入关键词..." value="" />
            </div>
            <button id="submit" style="margin-left:20px;">分析</button>
          </form>
	  
        </div>
        
        <div class="panel-outer">
          <div class="panel-nav">数量分布</div>
          <div id="time" class="panel">
	    <img id="loading" src="/static/images/ajax_loading.gif"/>
            <div id="timedist"></div>
          </div>
        </div>
        
        <div class="panel-outer">
          <div class="panel-nav">时间线</div>
          <div id="timeline" class="panel">
	    <img id="loading" src="/static/images/ajax_loading.gif"/>
            <div id="timelinedist" style='width: 1000px; height: 300px;border: 1px solid gray; margin-left: auto;margin-right: auto;margin-top:-60px;margin-bottom:5px;'></div>
          </div>
        </div>
      </div>
    </div><!--content结束-->
    <!--main结束-->
    <div id="footer"><div id="footer-text">@2012&nbsp&nbsp<a href="http://idec.buaa.edu.cn">北航社会舆情分析实验室</a></div></div>
  </body>
</html>
