<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>WeiMining</title>
    <script type="text/javascript" src="/static/js/weibovisualization.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/weibovisualization.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/syntax.css" />
  </head>
  <body>
    <div class="body">
      <div class="content">
          <div class="topbar">
            <b><a href="/weiming">Home</a></b>
            <a href="/weiming/about">About us</a>
          </div>
          <div class="sidebar">
            <h1>Demo</h1>
          </div>
          <h1 id='examples'>WeiMining</h1>
          <div class='gallery'>
              <div class='list'>
                <a href='/weiming/mapweibo'>
                  <img src='/static/images/hot_topic.jpg' />
                </a>
                <h4><a href='/weiming/mapweibo'>MapWeibo</a></h4>
                <p>This application called <strong>MapWeibo</strong> are placing the roadmap of sina weibo spreading on the China Map,and we're trying to obtain the hostest topic of weibo.</p>
              </div>
               <div class='list'>
                <a href='http://gana.nlsde.buaa.edu.cn/hourly_happy/moodlens.html'>
                  <img src='/static/images/moodlens.jpg' />
                </a>
                <h4><a href='http://gana.nlsde.buaa.edu.cn/hourly_happy/moodlens.html'>Moodlens</a></h4>
                <p>To our best knowledge, MoodLens is the first system for sentiment analysis of Chinese tweets in Weibo. In MoodLens, 95 emoticons are mapped into four categories of sentiments, i.e. angry, disgusting, joyful, and sad, which serve as the class labels of tweets. MoodLens collects over 3.5 million labeled tweets as the corpus and train a fast Naive Bayes classifier. 
MoodLens also implements an incremental learning method to tackle the problem of the sentiment shift and the generation of new words.</p>
              </div>
		<div class='list'>
                <a href='/weiming/spidermonitor'>
                  <img src='/static/images/spider.jpg' />
                </a>
                <h4><a href='/spider.html'>SpiderMonitor</a></h4>
                <p>This application can dynamiclly monitor the sina crwaler's dataflow and running status online</p>
              </div>
          </div>
           <div class="foot">Copyright &copy; 2012 <a href="http://www.buaa.edu.cn/">Buaa</a></div>
       </div>
     </div>
  </body>
</html>
