#introduce {
    width: 730px;
    margin-right: auto;
    margin-left: auto;
}
.detail {
    width: 24%;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-style: dashed;
    border-left-style: dashed;
    border-top-color: #666666;
    border-right-color: #666666;
    border-bottom-color: #666666;
    border-left-color: #666666;
    display: inline-table;
    height: 150px;
}

#empty2 {
    height: 110px;
}

#search {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
}

button {
    height: 40px;
    width: 97px;
    border: none;
    margin-left: 10px;
    font-size: 1.3em;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(images/btn_bg.png);
    cursor: pointer;
}
#intro_detail .detail:hover {
    border-right-style: outset;
    border-left-style: outset;

    border-right-color: #0033CC;
    
    border-left-color: #0033CC;
    
}

#hTopics {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url(images/bg_wb3.png);
    background-repeat: repeat-y;
    background-position: right;
}
.titleT {
    font-weight: bold;
    color: #0B54C2;
    margin-bottom: 10px;
}
.hotTopics {
    padding-left: 40px;
    color: #0A0101;
    width: 840px;
    margin-bottom: 25px;
}
.hotTopics li {
    display:inline-block;
    margin: 10px;
}
.hotTopics a{
    text-decoration: none;
    color: inherit;
}
.hotTopics a:hover{
    color: #AE1932;
    /* font-weight:bold; */
}

.juzhong {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}
.juzhong em{
    position: relative;
    top: -8px;
    font-size: 0.4em;
    color: gray;
    font-style: normal;
}
#follow_pic{
    margin-left: 50%;
    cursor: pointer;
}
#logo_img {
    margin-top: 15px;
    margin-left: 10px;
}
/* #search_box { */
/*     border: none; */
/*     padding-left: 15px; */
/*     background-color:white; */
/*     background-image: url(images/box_bg3.png); */
/*     width: 586px; */
/*     height: 40px; */
/*     background-repeat: no-repeat; */
/*     font-size: 15px; */
/*     outline-color: white; */
/* } */
#search_box {
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px; 
    /* border: none; */
    border: solid 5px #7eb3f6;
    padding-left: 15px;
    background-color:white;
    /* background-image: url(images/box_bg3.png); */
    width: 570px;
    height: 40px;
    /* background-repeat: no-repeat; */
    font-size: 15px;
    outline-color: white;
}
.bubbleInfo {
    position: relative;
}
.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
}
#search_button{
    position:relative;
    float:right;
    top: 5px;
    right: 18px;
    height: 40px;
    width: 97px;
}
#follow_button{
    float:right;
    /* height: 40px; */
    /* width: 97px; */
    border: none;
    font-size: 1.3em;
    color: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: url(images/btn_bg.png);
    cursor: pointer;
    background-color: white;
}
#search_button:hover{
    background-image: url(images/btn_bgOn.png);
}
#follow_button:hover{
    background-image: url(images/btn_bgOn.png);
}
#warning{
    position:relative;
    top:10px;
    left:250px;
    display:none;
    color:#F00;
}
.pic{
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}
div.tagMatches {
    position:relative;
    padding-top:15px;
    /* margin-left: 10px; */  
}

div.tagMatches span {
    padding: 2px;
    margin-right: 4px;
    background-color: #0000AB;
    color: #fff;
    cursor: pointer;
}