body{
    margin:0;
    padding:0;
    display:inline;
}
.TopBar{
    position:relative;
    left:20%;
    right:20%;
    height:20px;
}
#logo{
    float:left;
    width:200px;
}
#head-nav-bar{
    float:right;

}
#login{
    float:left;
    margin-left:20px;
}
ul#nav{
    list-style-type: none;
    margin:0px;
    padding:0px;
    float: left;	
}
ul#nav li{
    display: inline;
    
}
ul#nav li a{
    text-decoration:none;
    color:black;
    text-align: center;
}
#main{
    position:relative;
    left:20%;
    right:20%;
    text-align:left;
}

.tagcloud a {
    text-decoration: none;
    cursor:pointer;

}

.tagcloud a:visited {
    color: #1057AE;
    text-decoration: none;
}
.tagcloud a:hover {
    background: #0063dc;
    display: inline;
    color:white;
}

.tagcloud{
    padding: 15px;
    border: solid 1px #EEE;
    background: whiteSmoke;
}
.tagcloud a{margin:10px;}
.tagcloud a.tag1 { font-size: 0.9em; font-weight: 100; }
.tagcloud a.tag2 { font-size: 1em; font-weight: 200; }
.tagcloud a.tag3 { font-size: 1.1em; font-weight: 300; }
.tagcloud a.tag4 { font-size: 1.2em; font-weight: 400; }
.tagcloud a.tag5 { font-size: 1.3em; font-weight: 500; }
.tagcloud a.tag6 { font-size: 1.4em; font-weight: 600; }
.tagcloud a.tag7 { font-size: 1.5em; font-weight: 700; }
.tagcloud a.tag8 { font-size: 1.6em; font-weight: 800; }
.tagcloud a.tag9 { font-size: 1.7em; font-weight: 900; }
.tagcloud a.tag10 { font-size: 1.8em; font-weight: 900; }  
p{
    
    display: block;
}
#Second em{
    font-size:1.7em;
}
h4 {
    font-size: 16px;
}
h4 {
    font-size: 18px;
    color: #FF0084;
    font-weight: normal;
    margin-bottom: 10px;
}
h3{
    color:#000;
    font-weight:normal;
    font-size:16px;
}